#include "keys_se.h"
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        conf {
            bindings = <&mo 4>;
            key-positions = <38 41>;
        };

        mkp_right {
            bindings = <&mkp RCLK>;
            key-positions = <6 7>;
        };

        mkp_mdl {
            bindings = <&mkp MCLK>;
            key-positions = <18 19>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        lasso {
            bindings = <&lasso>;
            key-positions = <11 10>;
        };

        lock {
            bindings = <&lock>;
            key-positions = <5 6>;
        };

        bootloader {
            bindings = <&bootloader>;
            key-positions = <6 11>;
        };
    };

    macros {
        lasso: lasso {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(L) &kp A &kp S &kp S &kp O &kp PRCNT>;
            label = "LASSO";
        };

        lock: lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_WIN &kp SE_L>;
            label = "LOCK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                                          |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
            //                               |   GUI   |   DEL   | RETURN  |  SPACE  |                      |  SPACE  |   TAB   |   BSPC  |  R ALT  |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y      &kp U  &kp I         &kp O       &kp P         &kp SE_A_RING
&kp LEFT_SHIFT  &kp A  &kp S  &kp D  &kp F  &kp G      &kp H      &kp J  &kp K         &kp L       &kp SEMI      &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N      &kp M  &kp SE_COMMA  &kp SE_DOT  &kp SE_MINUS  &kp BACKSPACE
                       &mo 3  &mo 2  &mo 1  &kp SPACE  &kp ENTER  &mo 1  &mo 5         &mo 6
            >;

            label = "QWERTY";
        };

        NUM {
            bindings = <
&kp LA(TAB)  &kp LS(SE_N1)     &kp LS(SE_N2)  &kp LS(SE_N3)  &kp LS(SE_N4)  &kp LS(SE_N5)  &kp LS(SE_N6)  &kp LS(SE_N7)  &kp LS(SE_N8)  &kp LS(SE_N9)  &kp LS(SE_N0)  &kp SE_QMARK
&kp PIPE     &kp SE_N1         &kp SE_N2      &kp SE_N3      &kp SE_N4      &kp SE_N5      &kp SE_N6      &kp SE_N7      &kp SE_N8      &kp SE_N9      &kp SE_N0      &trans
&kp SE_LT    &kp GREATER_THAN  &kp RA(SE_N2)  &kp RA(SE_N3)  &kp RA(SE_N4)  &kp DEL        &kp RA(SE_N5)  &kp RA(SE_N7)  &kp RA(SE_N8)  &kp RA(SE_N9)  &kp RA(SE_N0)  &kp BACKSLASH
                               &trans         &trans         &trans         &kp ENTER      &trans         &trans         &trans         &trans
            >;

            label = "NUMB";
        };

        NAV {
            bindings = <
&trans  &kp HOME  &kp UP    &kp END    &trans  &trans        &kp N7  &kp N8  &kp N9   &kp SE_SLASH  &trans  &trans
&trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &kp C_VOL_UP  &kp N4  &kp N5  &kp N6   &kp SE_STAR   &trans  &trans
&trans  &trans    &trans    &trans     &trans  &kp C_VOL_DN  &kp N1  &kp N2  &kp N3   &kp SE_PLUS   &trans  &trans
                  &trans    &trans     &trans  &kp C_MUTE    &trans  &kp N0  &kp DOT  &kp SE_MINUS
            >;

            label = "NAV";
        };

        FUNC {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &kp F12
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "FUNC";
        };

        CONF {
            bindings = <
&bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans         &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                              &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "CONF";
        };
    };
};
